.topic{
  margin-top: 30px;
  justify-content: center;
  align-content: center;
  display: flex;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
  margin-right: 30px;
}
