.container {
  display: flex;
  margin-top: 60px;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.amount{
  display: flex;
  font-size: 36px;
  font-weight: bold;
}
.goal{
  display: flex;
  font-size: 18px;
  font-weight: 250;
}

.investors{
  display: flex;
  font-size: 36px;
  font-weight: bold;
}

.normalText{
  display: flex;
  font-size: 18px;
  font-weight: 250;
}

.badge{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
